In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000022A43F87790>

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)

myCursor = mydb.cursor()
myCursor.execute("CREATE DATABASE python")
print("Database Created Successfully")

Database Created Successfully

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="nsec"
)

myCursor = mydb.cursor()

myCursor.execute("SHOW TABLES")

for x in myCursor:
    print(x)

('college',)
('students',)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python"
)

myCursor = mydb.cursor()

myCursor.execute("CREATE TABLE College (id INT AUTO_INCREMENT PRIMARY KEY,College_name VARCHAR(255), address VARCHAR(255),gender VARCHAR(30),Phone_No VARCHAR(255),location VARCHAR(255))")
print("Table created successfully")

Table created successfully

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "nsec"
)

myCursor = mydb.cursor()

sql = "INSERT INTO students (name,address,gender) VALUES (%s,%s,%s)"
val = ("Sutam","Naihati","M")
val2 = ("Ritam","Bagbazar","M")

myCursor.execute(sql,val2)

mydb.commit()

print(myCursor.rowcount,"record inserted")

1 record inserted

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python"
)

myCursor = mydb.cursor()

sql = "INSERT INTO College (College_name,address,gender,Phone_No,location) VALUES (%s,%s,%s,%s,%s)"
val = ("Sutam","Naihati","M","123456789","Kolkata")

myCursor.execute(sql,val)

mydb.commit()

print(myCursor.rowcount,"record inserted")

1 record inserted

In [2]:
import calendar
y=int(input("Enter the year=> "))
m=int(input("Enter the month=> "))
print(calendar.month(y,m))
print(calendar.calendar(y))

     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="python"
)

mycursor = mydb.cursor()

sql = "DELETE FROM college WHERE address = 'Naihati'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="python"
)

mycursor = mydb.cursor()

sql = "DROP TABLE college"
mycursor.execute(sql)
print("Table deleted successfully")

Table deleted successfully